<html>
    <head>
        
            <link rel='stylesheet' href='/stylesheets/style.css' />
            <meta http-equiv="refresh" content="3; url=/" />
    </head>
    <body>
       <center>
           <h1 id="holl">Thanks <%= data['name']%></h1>
           <br/>
           <h1 id="holl"><%= data['nick']%></h1>
            <br/>
            <h1 id="holl"> <%= data['email']%></h1>
            <br/>
            <h1 id="holl"> <%= data['mo']%></h1>
            <br/>
            <h1 id="holl"> <%= data['add']%></h1>
            <br/>
</center> 
  
    </body>
</html>